out/Debug/build.ninja
out/Debug/cmake_install.cmake
out/Debug/CMakeCache.txt
out/Debug/compile_commands.json
out/Debug/.cmake/api/v1/query/client-vscode/query.json
out/Debug/.cmake/api/v1/reply/cache-v2-a4a8fa3f59fc4575b564.json
out/Debug/.cmake/api/v1/reply/cmakeFiles-v1-f887defc3b7bac96343a.json
out/Debug/.cmake/api/v1/reply/codemodel-v2-acf056c03094e38a7291.json
out/Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
out/Debug/.cmake/api/v1/reply/index-2025-01-27T02-37-30-0850.json
out/Debug/.cmake/api/v1/reply/target-wm-root-Debug-3372fede3a099e1e213b.json
out/Debug/.cmake/api/v1/reply/toolchains-v1-b454928ab40b8594c0b4.json
out/Debug/CMakeFiles/cmake.check_cache
out/Debug/CMakeFiles/CMakeConfigureLog.yaml
out/Debug/CMakeFiles/rules.ninja
out/Debug/CMakeFiles/TargetDirectories.txt
out/Debug/CMakeFiles/3.29.5-msvc4/CMakeCCompiler.cmake
out/Debug/CMakeFiles/3.29.5-msvc4/CMakeCXXCompiler.cmake
out/Debug/CMakeFiles/3.29.5-msvc4/CMakeDetermineCompilerABI_C.bin
out/Debug/CMakeFiles/3.29.5-msvc4/CMakeDetermineCompilerABI_CXX.bin
out/Debug/CMakeFiles/3.29.5-msvc4/CMakeRCCompiler.cmake
out/Debug/CMakeFiles/3.29.5-msvc4/CMakeSystem.cmake
out/Debug/CMakeFiles/3.29.5-msvc4/CompilerIdC/CMakeCCompilerId.c
out/Debug/CMakeFiles/3.29.5-msvc4/CompilerIdC/CMakeCCompilerId.exe
out/Debug/CMakeFiles/3.29.5-msvc4/CompilerIdC/CMakeCCompilerId.obj
out/Debug/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/Debug/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CMakeCXXCompilerId.exe
out/Debug/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CMakeCXXCompilerId.obj
out/Debug/CMakeFiles/ShowIncludes/foo.h
out/Debug/CMakeFiles/ShowIncludes/main.c
out/Debug/CMakeFiles/ShowIncludes/main.obj
out/Release/build.ninja
out/Release/cmake_install.cmake
out/Release/CMakeCache.txt
out/Release/compile_commands.json
out/Release/.cmake/api/v1/query/client-vscode/query.json
out/Release/.cmake/api/v1/reply/cache-v2-e51dcdd16fdef0410764.json
out/Release/.cmake/api/v1/reply/cmakeFiles-v1-839677c68b74141a9c7e.json
out/Release/.cmake/api/v1/reply/codemodel-v2-b728b1b0e8d22e3c470c.json
out/Release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
out/Release/.cmake/api/v1/reply/index-2025-01-27T02-42-28-0644.json
out/Release/.cmake/api/v1/reply/target-wm-root-Release-98a663c0ef3a17afb608.json
out/Release/.cmake/api/v1/reply/toolchains-v1-b454928ab40b8594c0b4.json
out/Release/CMakeFiles/cmake.check_cache
out/Release/CMakeFiles/CMakeConfigureLog.yaml
out/Release/CMakeFiles/rules.ninja
out/Release/CMakeFiles/TargetDirectories.txt
out/Release/CMakeFiles/3.29.5-msvc4/CMakeCCompiler.cmake
out/Release/CMakeFiles/3.29.5-msvc4/CMakeCXXCompiler.cmake
out/Release/CMakeFiles/3.29.5-msvc4/CMakeDetermineCompilerABI_C.bin
out/Release/CMakeFiles/3.29.5-msvc4/CMakeDetermineCompilerABI_CXX.bin
out/Release/CMakeFiles/3.29.5-msvc4/CMakeRCCompiler.cmake
out/Release/CMakeFiles/3.29.5-msvc4/CMakeSystem.cmake
out/Release/CMakeFiles/3.29.5-msvc4/CompilerIdC/CMakeCCompilerId.c
out/Release/CMakeFiles/3.29.5-msvc4/CompilerIdC/CMakeCCompilerId.exe
out/Release/CMakeFiles/3.29.5-msvc4/CompilerIdC/CMakeCCompilerId.obj
out/Release/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/Release/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CMakeCXXCompilerId.exe
out/Release/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CMakeCXXCompilerId.obj
out/Release/CMakeFiles/ShowIncludes/foo.h
out/Release/CMakeFiles/ShowIncludes/main.c
out/Release/CMakeFiles/ShowIncludes/main.obj
